<!-- About Section -->
<section id="new-parents">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">New Parents</h2>
        <!-- <h3 class="section-subheading text-muted">NAEYC Accredited School with a Heart</h3> -->
        <h3 class="section-subheading text-muted">&nbsp;</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          The Thurgood Marshall Child Development Center is designed to meet the
          emotional, social, physical, and intellectual needs of children in a
          safe, home-like and loving environment. The unique characteristics of
          each individual child are valued in our center. Each child′s interests
          and developmental advances are nurtured by our well-trained and
          talented staff. Childhood should be a time of joy, love, and
          adventure. At our center, we appreciate children - their diversity,
          their challenges, their successes - and we enjoy them.
        </p>
        <p>
          Our center is a “Home away from home” for both children and their
          parents. Excellent communication with parents is a top priority.
          Parents′ instructions are carefully followed when feeding and
          diapering the children. With daily communication through conversation
          and written notes, the staff and parents form a team to help each
          child′s day run smoothly. In addition to daily communications with the
          parents, our center produces a monthly newsletter. Parenting workshops
          and parent get-togethers are sponsored by the center. Parents are
          always welcome to drop in at the center anytime during the day, and we
          welcome your volunteer time.
        </p>
        <p>&nbsp</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          <a
            href="http://weblink.donorperfect.com/tmcdc_application"
            target="_blank"
            class="btn btn-xl"
            >Apply Online</a
          >
        </p>
      </div>
    </div>
    <div class="row hide">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/1.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2009-2011</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/2.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2011</h4>
                <h4 class="subheading">An Agency is Born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/3.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2012</h4>
                <h4 class="subheading">Transition to Full Service</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/4.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
