<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programs</h2>
                    <h3 class="section-subheading text-muted">Our programs are designed to help kids flourish</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <img src="img/pillar-1.jpg" class="img-circle" style="width: 40%" />
                  <h3 class="service-heading">Infant Care Program</h3>
                  <p class="text-muted">There are six key components of an excellent infant care program</p>
                </div>
                <div class="col-md-4">
                  <img src="img/pillar-2.jpg" class="img-circle" style="width: 40%" />
                  <h3 class="service-heading">Toddler Program</h3>
                  <p class="text-muted">Toddlers learn best when they are in a warm, safe, nurturing environment.</p>
                </div>
                <div class="col-md-4">
                  <img src="img/pillar-3.jpg" class="img-circle" style="width: 40%" />
                  <h3 class="service-heading">Pre-School Program</h3>
                  <p class="text-muted">The Preschool Program is designed to promote learning and development.</p>
                </div>
            </div>
        </div>
    </section>
